/* styles for the whole app, referenced in index.html */
.body--background {
  background-image: url('images/leaves.png');
}

.body--font {
  font-family: 'Handlee', cursive;
}


/* styles for all components */
.title {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px dotted lightgray;
  background-color: rgb(221, 250, 216);
}

.done {
  text-decoration: line-through;
  color: grey;
}