/* styles for the whole app, referenced in index.html */
.body--background {
  background-image: url('images/leaves.png');
}

.body--font {
  font-family: 'Handlee', cursive;
}

/* styles for all components */
.title {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px dotted lightgray;
  background-color: rgb(221, 250, 216);
}

.done {
  text-decoration: line-through;
  color: grey;
}

/* not sure if I need Grid yet, but just in case */
#root .container {
  display: grid;
  padding-bottom: 32px;
}

.categoryChoices,
.tasksStatus,
.toDoCounter {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 10px 0px;
}

.counterType {
  display: flex;
  justify-content: center;
  padding: 0px 5px;
}

.categoryChoices-label,
.tasksStatus-label {
  margin-right: 10px;
}

.tasksList-item {
  display: flex;
  align-items: baseline;
}

.tasksList-item label {
  margin-bottom: 0;
  margin-left: 10px;
}

.newTaskForm {
  margin: 5px 0 15px 0px;
}

.addCategoryBut,
.addTaskBut {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .categoryInfo,
  .tasksInfo {
    display: flex;
    justify-content: space-between;
  }

  .categoryChoices {
    width: 65%;
  }

  .btn-toolbar.addCategory {
    width: 30%;
    align-items: center;
  }

  .tasksStatus {
    width: 50%;
  }

  .counterType {
    align-self: center;
  }
}

@media screen and (min-width: 1024px){

}