$font-stack: 'Handlee', cursive;

.body--background {
  background-image: url('images/leaves.png');
}

.body--font {
  font-family: $font-stack;
}

#root .container {
  display: grid;
  padding-bottom: 32px;
}

.title {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px dotted lightgray;
  background-color: rgb(221, 250, 216);
}

.done {
  text-decoration: line-through;
  color: grey;
}

%flex-center {
  display: flex;
  justify-content: center;
}

.toDoCounter {
  @extend %flex-center;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;

  .counterType {
    @extend %flex-center;
    padding: 0px 8px;
  }
}

.filters {
  .filterList.filterList-padding {
    padding: 1rem;
  }
}

.accordion {
  .card:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .card:last-of-type {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }
  }

.catFilter,
.taskFilter {
  @extend %flex-center;
  align-items: baseline;
  margin: 1rem 0rem;
}

.catFilter-label,
.taskFilter-label {
  margin-right: 10px;
}

.tasksList {
  margin-top: 1rem;

  .tasksList-item {
    display: flex;
    align-items: baseline;
    > label {
      margin: 0px 0px 0px 10px;
    }
  }
}

.newTaskForm {
  margin: 10px 0px;

  .addTask {
    margin-bottom: 1rem;
  }
}

.otherInfo {
  align-items: baseline;
  margin: 0.5rem 0rem 1rem 0rem;
}

.addCategoryBut,
.addTaskBut {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .otherInfo,
  .filterList,
  .tasksInfo {
    display: flex;
    justify-content: space-between;
  }

  .btn-toolbar.addCategory {
    width: 40%;
  }

  .counterType {
    align-self: center;
  }

  .catFilter {
    flex: 1 0 50%;
    margin-right: 2rem;
  }

  .taskFilter {
    flex: 1 0 40%;
  }
}

@media screen and (min-width: 1024px) {
  .newTaskForm {
    display: flex;

    > input {
      flex: 1 0 55%;
    }

    > select {
      flex: 1 0 30%;
    }

    .addTask {
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

  .addTaskBut {
    width: 15%;
  }

  .btn-toolbar.addCategory {
    width: 25%;
  }
}
