.body--background {
  background-image: url("images/leaves.png");
}

.body--font {
  font-family: "Handlee", cursive;
}

#root .container {
  display: -ms-grid;
  display: grid;
  padding-bottom: 32px;
}

.title {
  margin-top: 2rem;
  padding: 1rem;
  border: 2px dotted lightgray;
  background-color: #ddfad8;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.toDoCounter, .toDoCounter .counterType, .catFilter,
.taskFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toDoCounter {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.toDoCounter .counterType {
  padding: 0px 8px;
}

.filters .filterList.filterList-padding {
  padding: 1rem;
}

.accordion .card:first-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion .card:last-of-type {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.catFilter,
.taskFilter {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 1rem 0rem;
}

.catFilter-label,
.taskFilter-label {
  margin-right: 10px;
}

.tasksList {
  margin-top: 1rem;
}

.tasksList .tasksList-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.tasksList .tasksList-item > label {
  margin: 0px 0px 0px 10px;
}

.newTaskForm {
  margin: 10px 0px;
}

.newTaskForm .addTask {
  margin-bottom: 1rem;
}

.otherInfo {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0.5rem 0rem 1rem 0rem;
}

.addCategoryBut,
.addTaskBut {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .otherInfo,
  .filterList,
  .tasksInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .btn-toolbar.addCategory {
    width: 40%;
  }
  .counterType {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .catFilter {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin-right: 2rem;
  }
  .taskFilter {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}

@media screen and (min-width: 1024px) {
  .newTaskForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .newTaskForm > input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 55%;
            flex: 1 0 55%;
  }
  .newTaskForm > select {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  .newTaskForm .addTask {
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .addTaskBut {
    width: 15%;
  }
  .btn-toolbar.addCategory {
    width: 25%;
  }
}
/*# sourceMappingURL=app.css.map */